
### PROTECT FILES ###
#<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh|env)$">
#Order Allow,Deny
#Deny from all
#</FilesMatch>

<FilesMatch "\.(jpg|jpeg|png|gif|js|css)$">
Header set Cache-Control "max-age=31536000, public"
</FilesMatch>



RewriteEngine on
#RewriteCond %{HTTPS} off [OR]
#RewriteCond %{HTTP_HOST} ^www\. [NC]
#RewriteRule ^ https://.pl%{REQUEST_URI} [L,NE,R=301]


RewriteCond %{REQUEST_URI} !^public/ [NC]
RewriteRule ^(.*)$ /public/$1 [QSA,L,NE]
RewriteRule ^public/?$ 404.php [L,NE]


RewriteRule ^((?!public/).*)$ public/$1 [NC,L]

